@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* ------------------NAVIGATION------------------ */
.navbar-brand{
    font-family: 'Lobster';
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.navbar{
    position: fixed;
    left:0;
    z-index: 10;
    width: 96%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.5)
      ), radial-gradient(ellipse at center, #522e2a 0%, #321b20 100%) fixed;
    /* filter: brightness(.8); */
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 2%;
    transition: color .5s;
    transition: position 2s;
}
.sticky{
    width: 96%;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    /* color: #000; */
    left:0;
    z-index: 10;
}
.menu-icon{
    width: 2rem;
    filter: invert(100%);
    display: none;
}
.menu-icon-container{
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: .5rem;
    cursor: pointer;
}
nav ul{
    display: inline-block;
    list-style: none;
    /* margin-right: 30px; */
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 1.5rem;
}
nav ul li:last-child{
    margin-right: 0;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
nav ul li a:hover{
    transition: text 10s;
    text-decoration: underline;
}
.navbar_logo img{
    width: 50px;
    height: 50px;
    filter: invert(1);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5% 2%;
    /* bottom shadow */
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.5);
}

@media only screen and (max-width:800px){
    html{
        font-size: 12px;
    }
    nav ul{
        width: 100%;
        background: rgba(0,0,0,.75);
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 2;
        /* margin-right: 0; */
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1.5rem;
    }
    nav ul li a{
        color: #fff;
    }
    nav ul li:last-child{
        margin-right: 1.5rem;
    }
    .menu-icon-container{
        display: flex;
    }
    #menuList{
        overflow: hidden;
        transition: max-height 0.5s;
    }
    .menuClicked{
        background-color: #000;
    }
    .menu-icon{
        display: unset;
    }
}
@media only screen and (max-width:300px){
    html{
        font-size: 7px;
    }
}